---
---
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

td:first-child{
  text-align: center;
}

.infoTable tr td{
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.headline{
  padding-bottom: 14px;
}

.list li{
  padding-bottom: 6px;
}

.container{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 75px 0;
}

.bg-white{
  background-color: #ffffff;
}

.bg-black{
  background-color: #000000;
}

.section{
  font-family: "Roboto", "Noto Sans", sans-serif, Helvetica, "Hiragino Sans GB" , "Microsoft Yahei" !important;
  padding: 20px 22px;
  .jd{
    padding: 20px 0;
  }
}

.progress{
  height: 4px !important;
  margin-bottom: 15px !important;
  margin-top: 4px !important;
}

.name{
  font-size: 40px;
  margin-bottom: 0;
}

.profession{
  font-size: 20px;
} 

/* Need to set to follow whole page height if background of left column does not match right column */ 
#fullHeight{
    height: 1250px;
}

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #15161b;
  background-image: radial-gradient(#2b2e41, #15161b);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 50% 50%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}